<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>method</key>
        <string>ad-hoc</string>
        <key>signingStyle</key>
        <string>manual</string>
        
        <key>signingCertificate</key>
        <string>Apple Distribution: Stichting Privacy by Design (T5VXGLDWLZ)</string>
        <key>provisioningProfiles</key>
        <dict>
            <key>foundation.privacybydesign.irmamob.alpha</key>
            <string>Mac Mini Alpha ad-hoc</string>
        </dict>
    </dict>
</plist>
