# Workflow to check whether changes in a pull request fulfill all requirements.
# We execute build stages in separate jobs to prevent artifact duplication.
name: Status checks

on:
  pull_request:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  # We make sure that lint succeeds before we start any other job to
  # prevent that the setup-build-environment action runs in parallel.
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
      - run: bundle exec fastlane lint
  unit-test:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
      - run: bundle exec fastlane unit_test
  build-irmagobridge-ios:
    runs-on: macos-12
    needs: lint
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
      - run: bundle exec fastlane ios_build_irmagobridge
      - uses: actions/upload-artifact@v3
        with:
          name: irmagobridge-ios
          path: ios/Runner/Irmagobridge.xcframework/
  build-irmagobridge-android:
    runs-on: ubuntu-latest
    needs: lint
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
      - run: bundle exec fastlane android_build_irmagobridge
      - uses: actions/upload-artifact@v3
        with:
          name: irmagobridge-android
          path: android/irmagobridge/irmagobridge.aar
  build-app-ios:
    runs-on: macos-12
    needs: build-irmagobridge-ios
    strategy:
      matrix:
        flavor: [ alpha, beta ]
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
      - name: Download irmagobridge artifact
        uses: actions/download-artifact@v3
        with:
          name: irmagobridge-ios
          path: ios/Runner/Irmagobridge.xcframework/
      # We don't export here, because we don't have signing keys in this environment.
      - run: bundle exec fastlane ios_build_app flavor:${{ matrix.flavor }} export:false
  build-app-android:
    runs-on: ubuntu-latest
    needs: build-irmagobridge-android
    strategy:
      matrix:
        flavor: [ alpha, beta ]
        type: [ apk, appbundle ]
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
      - name: Download irmagobridge artifact
        uses: actions/download-artifact@v3
        with:
          name: irmagobridge-android
          path: android/irmagobridge/
      - run: bundle exec fastlane android_build_${{ matrix.type }} flavor:${{ matrix.flavor }}
      - name:
        uses: actions/upload-artifact@v3
        with:
          name: app-${{ matrix.flavor }}-android-${{ matrix.type }}
          path: ./fastlane/build/*
  build-integration-test-android:
    runs-on: ubuntu-latest
    needs: build-irmagobridge-android
    steps:
      - name: Check out repository
        uses: actions/checkout@v3
        with:
          submodules: true
      - name: Setup build environment
        uses: ./.github/actions/setup-build-environment
      - name: Download irmagobridge artifact
        uses: actions/download-artifact@v3
        with:
          name: irmagobridge-android
          path: android/irmagobridge/
      - run: bundle exec fastlane android_build_integration_test
      - uses: actions/upload-artifact@v3
        with:
          name: integration-test-android
          path: ./fastlane/build/*.apk
  integration-test-android:
    runs-on: ubuntu-latest
    container: google/cloud-sdk:latest
    needs:
     - build-integration-test-android
     - unit-test # To prevent that test resources are used when we already know there is an issue.
    concurrency: integration-test-android # To prevent that we use too much test resources at the same time.
    steps:
      - name: Download test artifacts
        uses: actions/download-artifact@v3
        with:
          name: integration-test-android
          path: .
      - name: Authenticate to Firebase
        env:
          GCLOUD_SERVICE_KEY: ${{ secrets.GCLOUD_SERVICE_KEY }}
        run: gcloud auth activate-service-account --key-file <(echo $GCLOUD_SERVICE_KEY)
        shell: bash
      - name: Set Firebase project
        run: gcloud config set project yivimobile
      - name: Run integration tests
        run: gcloud firebase test android run --app app-alpha-debug.apk --test app-alpha-debug-androidTest.apk --timeout 10m --device=model=Pixel3,version=30
